<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
  <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  <title>Word Counter</title>
</head>
<body>
  <div class="container">

    <h1>@Model</h1>

    <a href= "/home"><h3>Check another word!</h3></a>

    </div>
  </body>
  </html>
